.tam{
    
 
    margin-left: 500px;
    background-color: darkorange;
    width: 170px;
    text-decoration:underline darkorange;

}
.sam{
    margin-left: 500px;
    background-color: lightblue;
    width: 170px;
}
.kajal{
    margin-left: 800px;
    background-color:darkslategray ;
    
    
}
.anveshijain{
    background-color: lightgray;

}